.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: flex;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
    justify-content: flex-start;

    flex-direction: row;
    max-width: 85rem;
    margin-top: 60px;
 }

 .wrapper main {
    margin-left: 20rem;
 }



@media(max-width: 768px) { 
    html {
       font-size: 45.7%;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }
}